$total-columns  : 8;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$break          : 12;             // Breakpoint to switch to 2 columns
// SWITCH colors
$switch-blue    : #002470;
$switch-orange  : #f39800;
$switch-hellgrey: #f2f4f6;
$switch-grey    : #999999;

@import "base";
@import "ionicons";
@import "susy";



img {max-width: 100%;}
.framed { border: 6px solid $switch-grey; @include border-radius(3px);}

.page {
  // page acts as a container for our grid.
  @include container($total-columns, $break);

  // header and footer are full-width by default.
  header, footer {
    clear: both;
    .next {float: right;}
  }
  header {
    // padding: 1em 0;
    display: oeb-page-head;
  }
  footer {display: oeb-page-foot;}

  .tutorial-video {}

  @include at-breakpoint($break) {
    // header, footer { @include prefix(4,$break); }
    // .intro
    .tutorial-text { @include span-columns(6,$break); }
    .tutorial-pics { @include span-columns(6 omega,$break); }
  }


  // .content {
  //   // content spans the final (omega) 12 columns of 12.
  //   @include span-columns(12 omega,12);

  //   // main content spans 6 of those 12 columns.
  //   .text { @include span-columns(6,12); }

  //   // secondary content spans the final 3 (omega) of 9 columns.
  //   .image { @include span-columns(6 omega,12); }
  // }
}


// Sprites
@import "recorder-ui/*.png";
@include all-recorder-ui-sprites;


/* Responsive Tooltip without SVG */
/*  http://www.cssplay.co.uk/menu/cssplay-responsive-image-map.html */
.image-map {

  width:100%; position:relative; margin-bottom:200px;
  img {display:block; width:100%;}

  a {
    display:block; position:absolute;
    background:#000; z-index:100; opacity:0.2; filter: alpha(opacity=20);
    border:1px solid transparent;// border-radius:10px;
  }

  a + p {position:absolute; left:0%; top:102%; width:100%; color:#000; display:none;}
  p strong {display:block; padding:0; margin:0; font: bold 25px/30px 'times new roman',serif; color:#000;}
  p {padding:0; margin:0; font: normal 18px/22px 'times new roman',serif; color:#444;}

  b {
    display:block; position:absolute; background:url(image-url("trans.gif")); z-index:200; opacity:0.2; filter: alpha(opacity=20); padding:1px;
    -webkit-transition:0.75s;
    -moz-transition:0.75s;
    -o-transition:0.75s;
    transition:0.75s;
  }

  .hotspots {
    width:100%; height:100%; position:absolute; left:0; top:0; visibility:hidden;
    div:hover {
      b {width:0; padding:0;}
      p {display:block;}
      a {background:#fff; z-index:100; opacity:0.3; filter: alpha(opacity=30); border:1px solid #000;}
    }
  }

  &:hover .hotspots {visibility:visible;}

}

.recorder-ui {
  @extend .image-map;
  .preview-windows {left:2%; top:6%; width:96%; height:47%;}
  .input-sources {left:2%; top:56%; width:96%; height:18%;}
  .action-buttons {left:33%; top:75%; width:65%; height:21%;}
}
