!!! XML

!!!5
%html{:xmlns => "http://www.w3.org/1999/xhtml"}

  %head
    %title Create a single recording
    %link{:rel => "stylesheet", :href => "../stylesheets/screen.css", :type => "text/css"}

  %body
    .page
      %header Installation of SWITCHcast Recorder
      .content
        %h2 Installation
        %ol
          %li
            Download the current version of the SWITCHcast Recorder from
            %a{:href => "http://www.switch.ch/cast/downloads/"} our homepage
          %li
            Click on the just downloaded file to start the installation dialog
          %li
            [THIS WILL CHANGE SUBSTANTIALLY WITH THE NEW RECORDER5, SO WILL NOT BE EXPLAINED HERE]

        %video{:controls => "controls"}
          %source{:src => "../videos/recorder_download.webm", :type => "video/webm"}
          %source{:src => "../videos/recorder_download.m4v", :type => "video/x-m4v"}
          %track{:kind => "subtitles", :label => "English", :src => "../videos/captions/en/bunny.ttml", :srclang => "en"}
          %p
            Sorry, but your reading system does not support HTML5 video.
            This video is available in
            %a{:href => "../videos/recorder_download.webm"} WebM
            and
            %a{:href => "../videos/recorder_download.m4v"} M4V
            formats.
            It can also be
            = succeed "." do
              %a{:href => "http://www.example.com/mybook/videos"} viewed online

        %video{:controls => "controls"}
          %source{:src => "http://video.webmfiles.org/big-buck-bunny_trailer.webm"}
          %p
            Sorry, but your reading system does not support HTML5 video.
            This video is available online
            = succeed "." do
              %a{:href => "http://video.webmfiles.org/big-buck-bunny_trailer.webm"} here
      %footer
        %span.prev.icon-ios7-arrow-left
          %a{:href => "recorder-ui.html"}
            Recorder Interface
        %span.next.icon-
          %a{:href => "uploading.html"}
            Upload your newly created recording
          %span.icon-ios7-arrow-right
