!!! XML

!!!5
%html{xmlns: "http://www.w3.org/1999/xhtml"}

  %head
    %title Preference Panel
    %link{rel: "stylesheet", href: "../stylesheets/screen.css", type: "text/css"}


  %body
    .page
      %header
        %span.prev.icon-ios7-arrow-left
          %a{href: "upload-manager.html"} Settings Drawer
        Preferences of SWITCHcast Recorder
        %span.next.icon-
          %a{href: "recording-single.html"} Single Recording
          %span.icon-ios7-arrow-right

      .content
        %h1.subheader Preferences Panel


        %p The preferences window can be found under 'SWITCHcast Recorder > Preferences'. It is split into different tabs:



        %h2.subheader General

        %img{alt: "General Preferences", src: "../images/preferences/preferences_general.png"}


        %h2.subheader Notification

        %img{alt: "Notification Preferences", src: "../images/preferences/preferences_notification.png"}


        %h2.subheader Channels

        %img{alt: "Channels Preferences", src: "../images/preferences/preferences_channels.png"}


        %h2.subheader Calendar

        %img{alt: "Calendar Preferences", src: "../images/preferences/preferences_calendar.png"}


        %h2.subheader iVT

        %img{alt: "Calendar Preferences", src: "../images/preferences/preferences_ivt.png"}


        %h2.subheader Recording

        %img{alt: "Calendar Preferences", src: "../images/preferences/preferences_recording.png"}


      %footer
        %span.prev.icon-ios7-arrow-left
          %a{href: "upload-manager.html"} Settings Drawer
        Preferences of SWITCHcast Recorder
        %span.next.icon-
          %a{href: "recording-single.html"} Single Recording
          %span.icon-ios7-arrow-right
