!!! XML

!!!5
%html{xmlns: "http://www.w3.org/1999/xhtml"}

  %head
    %title Repeating recording
    %link{rel: "stylesheet", href: "../stylesheets/screen.css", type: "text/css"}

  %body
    .page
      %header
        %span.prev.icon-ios7-arrow-left
          %a{href: "recording-single.html"} Single Recording
        Do a Periodical/Repeating Recording
        %span.next.icon-
          %a{href: "acknowledgements.html"} Acknowledgements
          %span.icon-ios7-arrow-right

      .content

        %h1.subheader Automatic, periodic Recordings

        %P If you have repeating events, eg. lectures, you can define periodic recording. This allows you to start, stop and upload recording automatically without human intervention.

        %img{alt: "Calendar Entry", src: "../images/calendar.png"}


        %h2.subheader Prerequisites
        %ul.disc
          %li A calendar application capable of providing information using iCal is installed on your computer. This manual expects you to use Calendar.app which is preinstalled on any recent Apple computer.
          %li
            The SWITCHcast Recorder is
            %a{href: "installation.html"} installed on your computer
          %li All input sources are connected to your computer


        %h2.subheader Create a new calendar

        %ul.disc
          %li Create a new calendar (File > New Calendar) and give it a meaningful name
          %li Add repeating events in the calendar in the time span you want the recording to take place. As the title of the recording event use the channel number.
          %li
            %ul.disc
              %li
                Go to the 'Calendar' tab in the
                %a{href: "preferences-panel.html"} Preferences Panel.
              %li Choose the calendar you want to connect for automatic recordings


      %footer
        %span.prev.icon-ios7-arrow-left
          %a{href: "recording-single.html"} Single Recording
        Do a Periodical/Repeating Recording
        %span.next.icon-
          %a{href: "acknowledgements.html"} Acknowledgements
          %span.icon-ios7-arrow-right
