!!! XML

!!!5
%html{:xmlns => "http://www.w3.org/1999/xhtml"}

  %head
    %title Create a single recording
    %link{:rel => "stylesheet", :href => "../stylesheets/screen.css", :type => "text/css"}
  %body
    .page
      %header Record a single clip
      .content
        .tutorial-video
          %video{:controls => "controls", :poster => "../videos/recording-single.jpg", :style => "width:100%", :title => "565"}
            %source{:src => "../videos/recording-single.m4v", :type => "video/mp4"}
            %source{:src => "../videos/recording-single.webm", :type => "video/webm"}
        %hr
        .tutorial-text
          %h2 Prerequisites
          %ul
            %li
              The SWITCHcast Recorder is
              %a{:href => "installation.xhtml"} installed on your computer
            %li All input sources are connected to your computer
        .tutorial-pics
        .tutorial-text
          %h2 Hey! Ho! Let's go
          %p Open the SWITCHcast Recorder by clicking on the icon in your dock.
        .tutorial-pics
          %img.framed{:alt => "Recorder Icon", :src => "../images/recorder-ui/recorder-icon.png"}/
        .tutorial-text
          %p Choose the appropriate video and audio input sources.
        .tutorial-pics
          %img.framed{:alt => "Recorder Sources", :src => "../images/recorder-ui/recorder-sources.png"}/
        .tutorial-text
          %p Click on the 'Record' button to start the recording
          %ul
            %li Click on the 'Start' button to begin with the recording
            %li Supervise the recording
            %li Once the recorded event has finished, click on the 'Stop' button
            %li Click on the 'Yes' button of the popup window to confirm the end of recording



      %footer
        %span.prev.icon-ios7-arrow-left
          %a{:href => "recorder-ui.html"}
            Recorder Interface
        %span.next.icon-
          %a{:href => "uploading.html"}
            Upload your newly created recording
          %span.icon-ios7-arrow-right
