!!! XML

!!!5
%html{xmlns: "http://www.w3.org/1999/xhtml"}

  %head
    %title Recorder Interface
    %link{rel: "stylesheet", href: "../stylesheets/screen.css", type: "text/css"}


  %body
    .page
      %header
        %span.prev.icon-ios7-arrow-left
          %a{href: "installation.html"}
            Installation
        Interface of SWITCHcast Recorder
        %span.next.icon-
          %a{href: "settings-drawer.html"}
            Settings Drawer
          %span.icon-ios7-arrow-right

      .content
        .title
          %h1 Recorder Interface

        -# %a.recorder-ui-recorder_button{:href => "#"} Hallo
        -# %img.icons-recorder-button{:src => "../images/trans.gif"}

        %img{alt: "Recorder Interface", src: "../images/recorder-ui-numbered.png"}

        %p The recorder interface is made up of several blocks:

        %h2 &#9312; Preview Windows
        %p Two windows showing the currently recorded content of the left and right video input source

        %h2 Input Sources

        %p Some of these elements exist twice, one each for the first and second input source.

        %h3 &#9313; Video Source Selector
        %p Dropdown list showing all available video input sources (Default: None)

        %h3 &#9314; Audio Source Selector
        %p Dropdown list showing all available audio input sources (Default: None)

        %h3 &#9315; Audio Volume Controller
        %p Slider for adjusting the volume of the recording (Only visible if an audio source has been selected)

        %h3 &#9316; Audio Level Indicator
        %p Indicator of the current volume level (Only visible if an audio source has been selected)

        %h3 &#9317; Mute Button
        %p Button to silence the audio input source

        %h2 Action Triggers

        %h3 &#9318; Record Button
        %p Button to start the recording of a clip

        %h3 &#9319; Change Button
        %p Button to open the settings drawer on the left

        %h3 &#9320; Upload Button
        %p Button to start the manual upload of videos via the Upload Manager window

        %h3 &#9321; Log Stack
        %p Link to open the Log Panel

        %h2 &#9323; Upload Manager
        %p
        %h2 &#9324; Preferences



        -# .recorder-ui{"aria-haspopup" => "true"}
        -#   %img{:alt => "Recorder Interface", :src => "../images/recorder-ui.jpg"}
        -#   .hotspots
        -#     %div{:title => "Click to go to Preview Window"}
        -#       %a.preview-windows{"aria-haspopup" => "false", :href => "http://en.wikipedia.org/wiki/Monkey", :rel => "nofollow"}
        -#       %p
        -#         %strong Preview Windows
        -#         Two windows showing the currently recorded content of the left and right video input source
        -#       %b.preview-windows
        -#     %div{:title => "Click to go to Input Source"}
        -#       %a.input-sources{"aria-haspopup" => "false", :href => "http://en.wikipedia.org/wiki/Monkey", :rel => "nofollow"}
        -#       %p
        -#         %strong Input Sources
        -#       %dl
        -#         %dt
        -#           Video Source Selector
        -#           %sup 2
        -#         %dd Dropdown list showing all available video input sources (Default: None)
        -#       %dl
        -#         %dt
        -#           Audio Source Selector
        -#           %sup 2
        -#         %dd Dropdown list showing all available audio input sources (Default: None)
        -#       %dl
        -#         %dt
        -#           Audio Volume Control
        -#           %sup 2
        -#         %dd Slider for adjusting the volume of the recording, only visible if an audio source has been selected
        -#       %dl
        -#         %dt
        -#           Audio Level Indicator
        -#           %sup 2
        -#         %dd Indicator of the current volume level, only visible if an audio source has been selected
        -#       %dl
        -#         %dt
        -#           Mute Button
        -#           %sup 2
        -#         %dd Button to silence the audio input source
        -#     %div{:title => "Click to go to the Action Triggers"}
        -#       %a.action-buttons{"aria-haspopup" => "false", :href => "http://en.wikipedia.org/wiki/Monkey", :rel => "nofollow"}
        -#       %p
        -#         %strong Action Triggers
        -#       %dl
        -#         %dt Record Button
        -#         %dd Button to start the recording of a clip
        -#       %dl
        -#         %dt Change Button
        -#         %dd Button to open the settings drawer on the left
        -#       %dl
        -#         %dt Upload Button
        -#         %dd Button to start the manual upload of videos via the Upload Manager window
        -#       %dl
        -#         %dt Log Stack
        -#         %dd Link to open the Log Panel

        -# %h3 Settings Drawer
        -# %p
        -# %h3 Upload Manager
        -# %p
        -# %h3 Preferences

      %footer
        %span.prev.icon-ios7-arrow-left
          %a{href: "installation.html"}
            Installation
        Interface of SWITCHcast Recorder
        %span.next.icon-
          %a{href: "settings-drawer.html"}
            Settings Drawer
          %span.icon-ios7-arrow-right
