!!! XML

!!!5
%html{xmlns: "http://www.w3.org/1999/xhtml"}

  %head
    %title Settings Drawer
    %link{rel: "stylesheet", href: "../stylesheets/screen.css", type: "text/css"}


  %body
    .page
      %header
        %span.prev.icon-ios7-arrow-left
          %a{href: "settings-drawer.html"} Settings Drawer
        Settings of SWITCHcast Recorder
        %span.next.icon-
          %a{href: "recording-single.html"} Single Recording
          %span.icon-ios7-arrow-right

      .content
        .title
          %h1 Upload Manager

        %p In the upload manager you can - the name says it all - manage and upload your completed recordings.

        %p The upload manager can be opened by clicking on the 'Upload' button in the recorder interface. If you have recordings waiting to be uploaded, this button will have a red badge telling the number of pending recordings.

        %img{alt: "Settings Drawer", src: "../images/upload-manager.png"}


        %h2 Components of the Upload Manager

        %h3 &#9312; Filter and Search Bar

        This bar allows you to search for specific recordings. By clicking on the texts on the left, you can filter your recording by status:
        %ul.pretty
          %li
            %p
              %strong All:
              Show all recordings
          %li
            %em Ready to upload:
            Show only recordings that are not yet uploaded
          %li
            %em Completed:
            Show only recordings that have been successfullly uploaded





        %p The drawer is divided into two parts.


        %p You can define the duration of a recording before and even during a recording.

        .per3 In the upper field, you can enter a value defining the complete duration of the recording. Please note that this value is in minutes.

        .hint Caution: If adjusting the duration during a recording, the minutes specified do not represent the complete recording. Instead they represent the remaining time of recording.

        %h2 &#9313; Choosing upload channel

        %p In the channel list &#9314;, you choose in which channel you want your clip to be added.

        %p If you have many channels, you can search within them using the search field &#9315;.

        %p
          If you see no channels listed or you are missing one, you can click on the "More Channels..." button. A popup window will open and ask you to sign in using SWITCHaai. Once you have successfully logged in, you will see the channel list getting populated with your channels.


      %footer
        %span.prev.icon-ios7-arrow-left
          %a{href: "settings-drawer.html"} Settings Drawer
        Settings of SWITCHcast Recorder
        %span.next.icon-
          %a{href: "recording-single.html"} Single Recording
          %span.icon-ios7-arrow-right
