!!! XML

!!!5
%html{:xmlns => "http://www.w3.org/1999/xhtml"}

  %head
    %title Create a single recording
    %link{:rel => "stylesheet", :href => "../stylesheets/screen.css", :type => "text/css"}
  %body
    .page
      %header Record a single clip
      .content
        .tutorial-video
        .tutorial-text
        .tutorial-pics

      %footer
        %span.prev.icon-ios7-arrow-left
          %a{:href => "recorder-interface.html"}
            Recorder Interface
        %span.next.icon-
          %a{:href => "uploading.html"}
            Upload your newly created recording
          %span.icon-ios7-arrow-right
